.list-task p {
    font-size: 18px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 2px;
    position: relative;
}
.list-task p span{
    position: absolute;
    right: 10px;
    color: red;
    cursor: pointer;
    font-size: 12px;
}
.list-task .close-icon {
    position: absolute;
    right: 10px;
    color: red;
}
.task-complete {
    text-decoration: line-through;
}