<div class="list-task">
    <ng-container *ngFor="let task of items">
        <p class="mt-5 relative">{{task.group}}
            <span (click)="deleteGroup(task.group)">Remove all</span>
        </p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of task.items">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="item.marked" (change)="checkItem($event, item)">
                    <label class="form-check-label" [ngClass]="{'task-complete': item.marked}">
                        {{item.name}}
                    </label>
                    <span class="close-icon" (click)="deleteElement(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </span>
                </div>
            </li>
        </ul>
    </ng-container>
</div>